
:root {
    --bg-color: rgba(10, 82, 237, 0.993);
    --title-ff : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-ff : Georgia, 'Times New Roman', Times, serif;
}
* {
    font-family: var(--text-ff);
}
body {
    padding: 0;
    margin: 0;
}
.container {
    border: 1px solid blue;
}
/** main content css */
.present-me {
    display: block;
    position: relative;
    padding: 120px 80px;
    background-color: rgba(10, 82, 237, 0.993);
}
.present-me__title {
    text-transform: uppercase;
    font-family: var(--title-ff);
    font-size: 50px;
    line-height: 1;
    color: white;
    text-shadow: 1px 1px 1px green;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
}
/*.present-me__title::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: 5px;
    border-radius: 5px;
    top: 0;
    z-index: 3;
    width: 100px;
    height: 5px;
    background-color: white;
}*/
.present-me__desc{
    font-size: 26px;
    text-align: justify;
    line-height: 1.5;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}
.present-me__link {
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 22px;
    font-family: var(--title-ff);
    padding: 15px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    color: var(--bg-color);
    transition: all 1s ease-in;
}
.present-me__link:hover {
    color: white;
    background-color: var(--bg-color);
    border: 1px solid white;
}